<ul th:fragment="sidebar" id="sidebar-ul" class="nav nav-pills flex-column mb-auto sidebar__ul">
    <li class="sidebar__li">
        <a th:if="${page == 'listAppointments'}" th:href="@{/appointment/patientAppointments/__${'list'}__}" 
            id="appointments" class="nav-link sidebar__link sidebar__link--active">
            <i id="appointments-icon" class="fa-solid fa-calendar-days me-2 sidebar__icon sidebar__icon--active"></i>
            Ver turnos
        </a>
        <a th:if="${page != 'listAppointments'}" th:href="@{/appointment/patientAppointments/__${'list'}__}" 
            id="appointments" class="nav-link sidebar__link">
            <i id="appointments-icon" class="fa-solid fa-calendar-days me-2 sidebar__icon"></i>
            Ver turnos
        </a>
    </li>
    <li class="sidebar__li">
        <a th:if="${page == 'getAppointment' || page == 'getAppointment1' || page == 'getAppointment2' || page == 'getAppointment3'}" 
            href="/patient/appointments" id="getAppointment" class="nav-link sidebar__link sidebar__link--active">
            <i id="getAppointment-icon" class="fa-regular fa-calendar-check me-2 sidebar__icon sidebar__icon--active"></i>
            Sacar turno
        </a>
        <a th:if="${page != 'getAppointment' && page != 'getAppointment1' && page != 'getAppointment2' && page != 'getAppointment3'}" 
            href="/patient/appointments" id="getAppointment" class="nav-link sidebar__link">
            <i id="getAppointment-icon" class="fa-regular fa-calendar-check me-2 sidebar__icon"></i>
            Sacar turno
        </a>
    </li>
    <li class="sidebar__li">
        <a th:if="${page == 'modifyAppointment' || page == 'modifyAppointment1' || page == 'modifyAppointment2'}" 
            th:href="@{/appointment/patientAppointments/__${'modify'}__}" 
            id="editAppointment" class="nav-link sidebar__link sidebar__link--padding sidebar__link--active">
            <i id="editAppointment-icon" class="fa-solid fa-clock-rotate-left me-2 sidebar__icon sidebar__icon--active"></i>
            Modificar turno
        </a>
        <a th:if="${page != 'modifyAppointment' && page != 'modifyAppointment1' && page != 'modifyAppointment2'}" 
            th:href="@{/appointment/patientAppointments/__${'modify'}__}" 
            id="editAppointment" class="nav-link sidebar__link sidebar__link--padding">
            <i id="editAppointment-icon" class="fa-solid fa-clock-rotate-left me-2 sidebar__icon"></i>
            Modificar turno
        </a>
    </li>
</ul>