<footer th:fragments="footer" id="contacto">
    <div class="contenedor footer-content">
        <div class="footer-text">
            <h2 class="brand">Proyecto Salud</h2>
            <p>"Juntos por una vida saludable en manos confiables"</p>
        </div>
        <div class="social-media">
            <a href="https://www.facebook.com" class="social-media-icon">
                <i class='bx bxl-facebook'></i>
            </a>
            <a href="https://www.twitter.com" class="social-media-icon">
                <i class='bx bxl-twitter'></i>
            </a>
            <a href="https://www.instagram.com" class="social-media-icon">
                <i class='bx bxl-instagram'></i>
            </a>
        </div>
    </div>
</footer>