<nav th:fragment="navbar" class="navbar2">
    <div class="navbar__cont-fs">
        <div class="navbar__cont-icon">
            <i id="navbar__icon" class="fa-solid fa-bars navbar__icon"></i>
        </div>
        <div class="navbar__cont-title">
            <!-- <a href="/" class="navbar__title">ProyectoSalud</a> -->
            <a href="/">
                <img src="/static/img/logo-medilink.png" alt="image">
            </a>
        </div>
    </div>
    <div id="navbar__links" class="navbar__links navbar--active">
        <a href="/" class="navbar__link">Inicio</a>
        <a href="/searcher" class="navbar__link">Buscador</a>
        <a th:if="${session.userSession == null}" href="/login" class="navbar__link">Login</a>
        <a th:if="${session.userSession == null}" href="/register" class="navbar__link">Registro</a>
    </div>
    <div id="navbar__cont-sd" class="navbar__cont-sd">
        <div id="navbar__cont-dropdown" class="navbar__dropdown-cont navbar--active">
            <div class="navbar__dropdown-profile-cont">
                <img th:if="${user == null}" src="/static/img/profile.png" alt="image" class="navbar__dropdown-img">
                <img th:if="${user != null && image == null}" src="/static/img/profile.png" alt="image" class="navbar__dropdown-img">
                <img th:if="${user != null && image != null}" th:src="@{/image/__${user.id}__}" alt="image" class="navbar__dropdown-img">
                <div class="navbar__dropdown-name-cont">
                    <a th:if="${user == null}" th:text="${'Bienvenido/a Usuario'}" class="navbar__dropdown-name"></a>
                    <a th:if="${user != null}" th:text="${user.name + ' ' + user.surname}" class="navbar__dropdown-name"></a>
                    <i th:if="${session.userSession != null}" id="navbar__useradmin-icon" class="fa-solid fa-circle-chevron-down navbar__dropdown-icon"></i>
                </div>
            </div>
            <ul th:if="${session.userSession != null}" id="navbar__dropdown" class="navbar__dropdown--d-none">
                <li th:if="${session.userSession != null && activePatient == true && rol == 'PATIENT'}" class="navbar__dropdown-row">
                    <a th:href="@{/appointment/patientAppointments/__${'list'}__}" class="navbar__dropdown-link">Administrar turnos</a>
                </li>
                <li th:if="${session.userSession != null}" class="navbar__dropdown-row">
                    <a href="/profile" class="navbar__dropdown-link">Administrar cuenta</a>
                </li>
                <li th:if="${rol == 'ADMIN'}" class="navbar__dropdown-row">
                    <a href="/admin/users" class="navbar__dropdown-link navbar__dropdown-link--hover">Administrar usuarios</a>
                </li>
                <li th:if="${session.userSession != null && rol == 'PROFESSIONAL'}" class="navbar__dropdown-row">
                    <a href="/professional/dashboard" class="navbar__dropdown-link navbar__dropdown-link--hover">Panel de profesional</a>
                </li>
                <li th:if="${session.userSession != null}" class="navbar__dropdown-row">
                    <a href="/logout" class="navbar__dropdown-link navbar__dropdown-link--hover">Logout</a>
                </li>
            </ul>
        </div>
    </div>
    <script src="/static/js/navbar.js"></script>
</nav>
