<nav th:fragment="navbar" class="navbar2">
    <div class="navbar__cont-fs">
        <div class="navbar__cont-icon">
            <i id="navbar__icon" class="fa-solid fa-bars navbar__icon"></i>
        </div>
        <div class="navbar__cont-title">
            <a href="/" class="navbar__title">ProyectoSalud</a>
        </div>
    </div>
    <div id="navbar__cont-sd" class="navbar__cont-sd">
        <div id="navbar__links" class="navbar__links navbar--active">
            <a href="/" class="navbar__link">Inicio</a>
            <a href="/searcher" class="navbar__link">Buscador</a>
            <a th:if="${session.userSession == null}" href="/login" class="navbar__link">Login</a>
            <a th:if="${session.userSession == null}" href="/register" class="navbar__link">Registro</a>
        </div>
        <div id="navbar__cont-dropdown" class="navbar__cont-dropdown navbar--active">
            <div class="navbar__useradmin">
                <a th:if="${session.userSession == null}" id="navbar__useradmin-title" class="navbar__useradmin-title">Bienvenido/a Usuario</a>
                <a th:if="${session.userSession != null}" th:text="${'Bienvenido/a ' + session.userSession.name}" id="navbar__useradmin-title" class="navbar__useradmin-title"></a>
                <i id="navbar__useradmin-icon" class="fa-solid fa-circle-chevron-down navbar__useradmin-icon"></i>
            </div>
            <ul id="navbar__dropdown" class="navbar__dropdown--d-none">
                <li class="navbar__dropdown-row">
                    <a href="/patient/appointments" class="navbar__dropdown-link">Administrar turnos</a>
                </li>
                <li th:if="${session.userSession != null}" class="navbar__dropdown-row">
                    <a href="/profile" class="navbar__dropdown-link">Administrar cuenta</a>
                </li>
                <li th:if="${session.userSession != null}" class="navbar__dropdown-row">
                    <a href="/logout" class="navbar__dropdown-link navbar__dropdown-link--hover">Logout</a>
                </li>
            </ul>
        </div>
    </div>
    <script>
        const dropdown_icon = document.getElementById("navbar__useradmin-icon");
        dropdown_icon.addEventListener("click", () => {
            let nav_dropdown = document.getElementById("navbar__dropdown");
            nav_dropdown.classList.toggle("navbar__dropdown--d-none");
            nav_dropdown.classList.toggle("navbar__dropdown--active");
            dropdown_icon.classList.toggle("fa-circle-chevron-down");
            dropdown_icon.classList.toggle("fa-circle-chevron-up");
        })

        const navbar__icon = document.getElementById("navbar__icon");
        navbar__icon.addEventListener("click", () => {
            navbar__icon.classList.toggle("fa-bars");
            navbar__icon.classList.toggle("fa-bars-staggered");

            let nav_links = document.getElementById("navbar__links");
            let nav_contDropdown = document.getElementById("navbar__cont-dropdown");
            nav_links.classList.toggle("navbar--active");
            nav_contDropdown.classList.toggle("navbar--active");

            let responsiveDropdown = document.getElementById("navbar__cont-sd");
            responsiveDropdown.classList.toggle("navbar__cont-sd--border");
        })
    </script>
</nav>
