.cont-sidebar {
    height: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        var(--blanco), var(--gris), var(--celeste));
}

.sidebar {
    width: 20%;
    height: 80%;
    border-radius: 20px;
    color: var(--blanco);
    background-color: var(--celeste);
}

.sidebar__title,
.sidebar__link,
.sidebar__icon {
    color: var(--blanco);
    cursor: default;
}

.sidebar__link:hover {
    color: black;
}

.sidebar__link--active:hover {
    color: whitesmoke;
}

.sidebar__link--active {
    color: whitesmoke;
    background-color: var(--celeste-oscuro);
}

.sidebar__link--padding {
    padding-left: 14px;
}

.appointment-view {
    width: 40%;
    height: 80%;
    border: 2px solid var(--celeste-oscuro);
    border-radius: 20px;
    margin-left: 20px;
    background-color: var(--gris-oscuro);
}