.footer {
    background: var(--celeste);
    border-top: 1px solid var(--azul-oscuro);
    height: auto;
}

.footer-content {
    color: var(--blanco);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-text {
    color: var(--blanco);
}

.brand {
    font-weight: 500;
    font-size: 40px;
}

.social-media {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    max-width: 300px;
}

.social-media-icon {
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.social-media-icon:hover {
    background: #fff;
    color: var(--azul-oscuro);
}

.social-media-icon i {
    font-size: 30px;
    line-height: 60px;
}