/* Carousel Bootstrap */
.carousel {
    background-color: var(--gris);
    border-bottom: 1px solid var(--azul-oscuro);
}

.carousel-item {
    height: 550px;
}

.carousel-cont-item {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.carousel-img {
    width: 100%;
}

/* middle-page */
.marketing {
    padding-bottom: 100px;
}
.cont-access-link {
    padding-top: 100px;
}

.access-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.access-link p {
    min-height: 75px;
}

.main {
    background-image: linear-gradient(
        var(--blanco), var(--gris), var(--celeste));
}

@media screen and (max-width:800px) {
    .menu-navegacion {
        width: 50vw;
    }

    .titulo {
        font-size: 40px;
    }

    .contenedor-servicio img {
        width: 80%;
        margin-bottom: 40px;
    }

    .lista-servicio {
        width: 80%;
    }

    .agregar-imagen {
        width: 80%;
    }

    .img-galeria {
        width: 45%;
    }

    .cont-experts {
        width: 80%;
    }

    .footer-content {
        justify-content: center;
    }

    .social-media {
        width: 80%;
        justify-content: space-evenly;
    }

    .social-media-icon {
        margin-left: 0;
    }

    .social-media i {
        margin-left: 0;
    }

    .contact-us {
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }
}

@media screen and (max-width:500ps) {
    .menu-navegacion {
        width: 65vw;
    }

    .hamburguesa {
        top: 20px;
        right: 20px;
    }

    .titulo {
        font-size: 30px;
    }

    .subtitulo {
        font-size: 30px;
    }

    .agregar-imagen {
        width: 95%;
    }

    .img-galeria {
        width: 95%;
    }

    .social-media {
        width: 100%;
    }

    .contact-us {
        width: 90%;
    }

}