.cont-form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        var(--blanco), var(--gris), var(--celeste));
}

.form-login {
    border-radius: 15%;
    width: 20%;
    height: 41%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 75px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 75px -15px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 75px -15px rgba(0,0,0,0.75);
    background-color: transparent;
}

.form-login__ini {
    text-align: center;
    font-size: 30px;
    width: 90%;
    height: 100%;
    margin-top: 30px;
    font-weight: bold;
    color: var(--celeste-oscuro);
}

.form-login__cont-inp {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-login__cont-pass,
.form-login__cont-email {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-login__email,
.form-login__pass {
    font-weight: 600;
    margin: 10px 0;
    color: var(--azul-oscuro);
}

.form-login__cont-pass-inp {
    display: flex;
    width: 100%;
}

.form-login__email-inp,
.form-login__pass-inp {
    height: 35px;
    padding: 8px 10px;
    font-size: 20px;
    border: 1px solid var(--gris-oscuro);
}

.form-login__email-inp:focus,
.form-login__pass-inp:focus {
    border: 1px solid var(--azul-oscuro);
    outline: none;
}

.form-login__pass-inp--eye {
    width: 88%;
}

.form-login__cont-eye {
    width: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blanco);
    border: 1px solid var(--azul-oscuro);
    cursor: pointer;
}

.form-login__eye {
    color: var(--azul-oscuro);
    font-size: 20px;
}

.form-login__cont-error {
    font-size: 18px;
    font-weight: bold;
    color: var(--error);
    background-color: var(--bg-error);
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-login__error {
    text-align: center;
}

.form-login__cont-error--hidden {
    display: none;
}

.form-login__cont-submit {
    display: flex;
    justify-content: center;
    margin: 10px 0 10px 0;
    width: 100%;
}

.form-login__submit {
    width: 80%;
    height: 35px;
    font-size: 20px;
    font-weight: bold;
    color: var(--blanco);
    background-color: var(--celeste-oscuro);
    border: none;
    cursor: pointer;
}

.form-login__reg {
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
    width: 80%;
}

.form-login__reg-a {
    font-weight: bold;
    color: var(--azul-oscuro);
}

@media screen and (max-width: 1500px) {
    .form-login {
        width: 30%;
    }
}

@media screen and (max-width: 1200px) {
    .form-login {
        width: 35%;
    }
}

@media screen and (max-width: 1000px) {
    .form-login {
        width: 40%;
    }
}

@media screen and (max-width: 800px) {
    .form-login {
        width: 50%;
    }
}

@media screen and (max-width: 650px) {
    .form-login {
        width: 60%;
    }
}

@media screen and (max-width: 450px) {
    .form-login {
        width: 70%;
    }
}

@media screen and (max-height: 850px) {
    .form-login {
        height: 45%;
    }
}

@media screen and (max-height: 750px) {
    .form-login {
        height: 50%;
    }
}

@media screen and (max-height: 700px) {
    .form-login {
        height: 55%;
    }
}