body {
	background-image: linear-gradient(var(--blanco), var(--gris), var(--celeste));
}

.profile_title {
	color: var(--celeste-oscuro);
	text-align: center;
	font-size: 40px;
}

.profile-img {
	margin-top: 50px;
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

/* .cont-form {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(var(--blanco), var(--gris), var(--celeste));
} */

.form-profile {
	border-radius: 5%;
	width: 30%;
	height: 75%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 75px -15px rgba(0, 0, 0, 0.75);
	background-color: var(--gris);
}

.form-profile__title {
	text-align: center;
	font-size: 30px;
	width: 90%;
	margin-top: 30px;
}

.form-profile__group {
	width: 90%;
	margin-bottom: 20px;
}

.form-profile__label {
	font-weight: 600;
	margin-bottom: 5px;
}

.form-profile__input {
	width: 100%;
	height: 35px;
	padding: 8px 10px;
	font-size: 20px;
	border: 1px solid var(--gris-oscuro);
}

.form-profile__select {
	width: 100%;
	font-size: 15px;
	height: 35px;
	border: 1px solid var(--gris-oscuro);
}

.form-profile__button {
	width: 30%;
	height: 35px;
	font-size: 20px;
	font-weight: bold;
	color: var(--blanco);
	background-color: var(--celeste-oscuro);
	border: none;
	cursor: pointer;
}

.form-profile_button_image {
	width: 50%;
	height: 35px;
	font-size: 20px;
	color: var(--blanco);
	background-color: var(--celeste-oscuro);
	border: none;
	cursor: pointer;
}

.healthInsurance--hidden {
	display: none;
}

@media screen and (max-width: 1200px) {
	.form-profile {
		width: 40%;
	}
}

@media screen and (max-width: 1000px) {
	.form-profile {
		width: 50%;
	}
}

@media screen and (max-width: 800px) {
	.form-profile {
		width: 60%;
	}
}

@media screen and (max-width: 600px) {
	.form-profile {
		width: 80%;
	}
}