.cont-form {
    height: 73vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-image: linear-gradient(
        var(--blanco), var(--gris), var(--celeste));
}

/* tabla */
.cont-table {
    margin-top: 100px;
    width: 50%;
}

.table__thead-col,
.table__tbody-col {
    text-align: center;
}

/* fin tabla */

.form-searcher {
    border-radius: 15%;
    width: 20%;
    height: 45%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 75px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 75px -15px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 75px -15px rgba(0,0,0,0.75);
    background-color: var(--gris);
}

.form-searcher__ini {
    text-align: center;
    font-size: 30px;
    width: 90%;
    height: 100%;
    margin-top: 50px;
}

.form-searcher__cont-inp {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-searcher__cont-pass,
.form-searcher__cont-email {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.form-searcher__email,
.form-searcher__pass {
    font-weight: 600;
    margin: 10px 0;
}

.form-searcher__cont-pass-inp {
    display: flex;
    width: 100%;
}

.form-searcher__email-inp,
.form-searcher__pass-inp {
    height: 35px;
    padding: 8px 10px;
    font-size: 15px;
    border: 1px solid var(--gris-oscuro);

}

.form-searcher__email-inp:focus,
.form-searcher__pass-inp:focus {
    border: 1px solid var(--azul-oscuro);
    outline: none;
}

.form-searcher__pass-inp--eye {
    width: 88%;
}

.form-searcher__cont-eye {
    width: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blanco);
    border: 1px solid var(--azul-oscuro);
    cursor: pointer;
}

.form-searcher__eye {
    font-size: 20px;
}

.form-searcher__cont-submit {
    display: flex;
    justify-content: center;
    margin: 10px 0 40px 0;
    width: 100%;
}

.form-searcher__submit {
    width: 80%;
    height: 35px;
    font-size: 20px;
    font-weight: bold;
    color: var(--blanco);
    background-color: var(--celeste-oscuro);
    border: none;
    cursor: pointer;
}

.form-searcher__reg {
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
    width: 80%;
}

.form-searcher__reg-a {
    font-weight: bold;
    color: var(--azul-oscuro);
}

@media screen and (max-width: 1500px) {
    .form-searcher {
        width: 30%;
    }
}

@media screen and (max-width: 1200px) {
    .form-searcher {
        width: 35%;
    }
}

@media screen and (max-width: 1000px) {
    .form-searcher {
        width: 40%;
    }
}

@media screen and (max-width: 800px) {
    .form-searcher {
        width: 50%;
    }
}

@media screen and (max-width: 650px) {
    .form-searcher {
        width: 60%;
    }
}

@media screen and (max-width: 450px) {
    .form-searcher {
        width: 70%;
    }
}

@media screen and (max-height: 850px) {
    .form-searcher {
        height: 45%;
    }
}

@media screen and (max-height: 750px) {
    .form-searcher {
        height: 50%;
    }
}

@media screen and (max-height: 700px) {
    .form-searcher {
        height: 55%;
    }
}