:root {
    --azul-oscuro: #191D23;
    --celeste-oscuro: #57707A;
    --celeste: #7B919C;
    --gris-oscuro: #989DAA;
    --gris: #C5BAC4;
    --blanco: #DEDCDC;
    --error: rgb(201, 0, 0);
    --bg-error: rgb(255, 190, 190);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*.main {
    background-image: linear-gradient(var(--blanco), var(--gris), var(--celeste));
}*/

.body {
          background-image: linear-gradient(var(--blanco), var(--gris), var(--celeste));
      }