<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
	integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/static/css/style.css">
	<link rel="stylesheet" href="/static/css/navbar.css">
	<link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/appointments.css">
    <title>Administración de turnos</title>
    <script src="https://kit.fontawesome.com/5f27d919b8.js" crossorigin="anonymous"></script>
</head>
<body>
    <th:block th:replace="/fragments/navbar :: navbar"></th:block>
    <div class="cont-sidebar">
        <div class="d-flex flex-column flex-shrink-0 p-3 sidebar" style="width: 280px;">
            <span class="fs-3 text-center sidebar__title">Administración</span>
            <hr>
            <th:block th:replace="/fragments/appointmentSidebar :: sidebar"></th:block>
        </div>
        <div class="appointment-view">
            <div th:if="${page == 'listAppointments'}" class="getAppointment">
                <div class="table-wrapper2">
                    <table th:if="${appointments != null}" class="getAppointment__table2">
                        <thead class="table2__thead">
                            <tr class="table2__thead-row">
                                <th class="table2__thead-cell">Medico</th>
                                <th class="table2__thead-cell">Especialidad</th>
                                <th class="table2__thead-cell">Horario</th>
                                <th class="table2__thead-cell">Dia</th>
                                <th class="table2__thead-cell">Fecha</th>
                                <th class="table2__thead-cell">Costo</th>
                                <th class="table2__thead-cell"></th>
                                <!-- <th class="table2__thead-cell"></th> -->
                            </tr>
                        </thead>
                        <tbody class="table2__tbody">
                            <tr th:each="appointment : ${appointments}" class="table2__tbody-row">
                                <td th:text="${appointment.professional.user.name + ' ' + appointment.professional.user.surname}" class="table2__tbody-cell"></td>
                                <td th:text="${appointment.professional.specialization.displayName}" class="table2__tbody-cell"></td>
                                <td th:text="${appointment.appointment}" class="table2__tbody-cell"></td>
                                <td th:text="${appointment.day}" class="table2__tbody-cell"></td>
                                <td th:text="${appointment.date}" class="table2__tbody-cell"></td>
                                <td th:text="${appointment.professional.charge}" class="table2__tbody-cell"></td>
                                <!-- <td class="table2__tbody-cell table2__cell--last">
                                    <a th:href="@{/appointment/allAppointments/__${appointment.id}__}" class="table2__tbody-cell-btn">Modificar</a>
                                </td> -->
                                <td class="table2__tbody-cell table2__cell--last">
                                    <a th:href="@{/appointment/delete/confirm/__${appointment.id}__}" class="table2__tbody-cell-btn">Cancelar</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div th:if="${page == 'listAppointments' && appointments == null}">
                <p>No tiene turnos asignados</p>
            </div>
            <div th:if="${page == 'listAppointments1'}">
                <form th:action="@{/appointment/delete/__${id}__}" method="POST">
                    <p>¿Seguro desea cancelar el turno?</p>
                    <button type="submit">Confirmar</button>
                    <!-- <a href="/"></a> -->
                </form>
            </div>
        </div>
    </div>
    <th:block th:replace="/fragments/footer :: footer"></th:block>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" 
	    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous">
    </script>
    <script src="/static/js/appointments.js"></script>

</body>
</html>