<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="stylesheet" href="/static/css/navbar.css">
	<link rel="stylesheet" href="/static/css/footer.css">
	<link rel="stylesheet" href="/static/css/profile.css">
	<title>Profile</title>
	<script src="https://kit.fontawesome.com/5f27d919b8.js" crossorigin="anonymous"></script>
</head>
<body>
	<th:block th:replace="/fragments/navbar :: navbar"></th:block>
	<div class="container rounded bg-white mt-5 mb-5">
		<form th:action="@{/user/update/__${user.id}__}" th:object="${userDTO}" method="POST" enctype="multipart/form-data" class="row">
			<div class="col-md-4 border-right">
				<div class="d-flex flex-column align-items-center text-center p-3 py-2">
					<!-- <div th:if="${imagenURL}"> -->
						<!-- <img class="rounded-circle mt-2" width="150px" th:src="${imagenURL}"> -->
					<!-- </div> -->
					<!-- <div th:unless="${imagenURL}"> -->
						<!-- <img th:if="${image == null}" src="/static/img/profile.png" class="rounded-circle profile-img" id="preview_image"> -->
						<img th:if="${image != null}" th:src="@{/image/__${user.id}__}" class="profile-img" id="preview_image">
						<img th:if="${image == null}" src="/static/img/profile.png" class="profile-img" id="preview_image">
					<!-- </div> -->
					<!-- <form th:action="@{/api/auth/update-image}" method="POST" enctype="multipart/form-data"> -->
						<!-- <div class="form-group mt-1"> -->
							<!-- <input th:field="*{imageFile}" type="file" id="profile_picture" name="profilePicture" class="mt-2" accept="image/*"> -->
							<input th:field="*{imageFile}" type="file" id="profile_picture" name="profilePicture" class="mt-2">
						<!-- </div> -->
						<!-- <button type="submit" class="form-profile_button_image mt-4">Cambiar Foto</button> -->
					<!-- </form> -->
				</div>
			</div>
			<div class="col-md-8 border-right">
				<div class="p-4 py-5">
					<div class="d-flex justify-content-center align-items-center mb-5">
						<h4 th:text="${'Perfil de ' + user.name + ' ' + user.surname}" class="text-right profile_title"></h4>
					</div>
					<div class="row mt-2">
						<div class="col-md-10">
							<div class="form-profile__group">
								<label for="email" class="form-profile__label">Email<span th:text="${' (' + user.email + ')'}"></span></label>
								<input th:field="*{email}" type="text" name="email" id="email" class="form-profile__input form-control">
								<select th:field="*{emailSuffix}" name="email_select" class="form-register__email-select">
									<option th:each="suffix : ${T(com.equipoUno.proyectoSalud.enumerations.EmailDomain).values()}" th:value="${suffix}" th:text="${suffix.value}"></option>
								</select>
							</div>
						</div>
						<div class="col-md-8">
							<div class="form-profile__group">
								<label for="password" class="form-profile__label">Contraseña</label>
								<input th:field="*{password}" type="password" id="password" class="form-profile__input form-control">
							</div>
						</div>
					</div>
				</div>
				<div class=" text-center">
					<div class="form-profile__group">
						<button type="submit" class="form-profile__button">Guardar</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="container rounded bg-white mt-5 mb-5">
		<form th:action="@{/api/patients/generatePatient/__${user.id}__}" th:object="${patientDTO}" method="POST" class="row">
			<!-- <div class="col-md-8 border-right"> -->
				<div class="p-4 py-5">
					<div class="d-flex justify-content-center align-items-center mb-5">
						<h4 th:text="${'Datos de paciente'}" class="text-right profile_title"></h4>
					</div>
					<div class="col-md-5">
						<div class="form-profile__group">
							<label for="health_insurance" class="form-profile__label">Obra Social</label>
							<select th:field="*{healthInsurance}" id="health_insurance" class="form-profile__select form-select">
								<option th:if="${patient != null}" th:value="${patient.healthInsurance}" th:text="${patient.healthInsurance}" id="patient_insurance"></option>
								<option th:each="insurance : ${T(com.equipoUno.proyectoSalud.enumerations.HealthInsurance).values()}" th:value="${insurance}" th:text="${insurance}" class="healthInsurance"></option>
							</select>
						</div>
					</div>
					<div class="col-md-10">
						<div class="form-profile__group">
							<label for="contact" class="form-profile__label">Contacto<span th:if="${patient != null}" th:text="${' (' + patient.contact + ')'}"></span></label>
							<input th:field="*{contact}" type="tel" id="contact" class="form-profile__input form-control">
						</div>
					</div>
				</div>
				<div class=" text-center">
					<div class="form-profile__group">
						<button type="submit" class="form-profile__button">Guardar</button>
					</div>
				</div>
			<!-- </div> -->
		</form>
	</div>
	<th:block th:replace="/fragments/footer :: footer"></th:block>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Importar el archivo JavaScript de Bootstrap -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>


	<script src="/static/js/profile.js"></script>


	<script>
		let html = document.getElementsByClassName("healthInsurance");
		let arr = Array.from(html);
		let patient_insurance = document.getElementById("patient_insurance");
		for (let i = 0; i < arr.length; i++) {
			if (arr[i].getAttribute("value") == patient_insurance.getAttribute("value")) {
				arr[i].classList.add("healthInsurance--hidden");
			}
		}
	</script>
</body>
</html>