<!DOCTYPE html>
<html
  lang="es"
  xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/login.css" />
    <title>Professional list</title>
    <script
      src="https://kit.fontawesome.com/5f27d919b8.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="table-responsive mb-4">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Hora de entrada</th>
            <th>Hora de salida</th>
            <th>Costo de consulta</th>
            <th>Calificación</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="professional : ${professionals}">
            <td th:text="${professional.name}"></td>
            <td th:text="${professional.email}"></td>
            <td th:text="${professional.entryTime}"></td>
            <td th:text="${professional.exitTime}"></td>
            <td th:text="${professional.charge}"></td>
            <td th:text="${professional.qualification}"></td>
            <td>
              <a
                th:href="@{/api/professionals/update/__${professional.id}__}"
                class="btn btn-info"
                >Modificar</a
              >
            </td>
            <td>
              <a
                th:href="@{/api/professionals/delete/__${professional.id}__}"
                class="btn btn-danger"
                >Eliminar</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
    <script></script>
  </body>
</html>
