<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/register.css">
    <script src="https://kit.fontawesome.com/5f27d919b8.js" crossorigin="anonymous"></script>
    <title>Register Professional</title>
</head>
<body>
<main class="cont-form">
    <form th:action="@{/professional/changeRol/{userId}(userId=${user.id})}" method="POST" th:object="${professionalDTO}" class="form-register">
        <p class="form-register__ini">REGISTRO DE PROFESIONAL</p>
        <input type="hidden" th:value="${userId}"/>
        <input type="time" th:field="*{entryTime}" id="form_name" name="name" class="form-register__name-inp">
        <input type="time" th:field="*{exitTime}" id="form_name" name="name" class="form-register__name-inp">
<!--        Specialization es un Enum  -->
        <input type="time" th:field="*{specialization}" id="form_name" name="name" class="form-register__name-inp">
<!--                                   -->
    </form>
</main>
<script src="/static/js/register.js"></script>

<th:block th:replace="/fragments/error :: error"></th:block>

</body>
</html>