<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-securityC:\Users\jorge\OneDrive\Documentos\Proyectos Intellij IDEA\Proyecto Final EGG\proyecto-salud\proyectoSalud">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/searcher.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <title>Searcher</title>
    <script src="https://kit.fontawesome.com/5f27d919b8.js" crossorigin="anonymous"></script>
</head>
<body class="body">
<th:block th:replace="/fragments/navbar :: navbar"></th:block>
<div class="cont-form">
    <form action="/searcher" method="GET" enctype="multipart/form-data" class="form-searcher">
        <p class="form-searcher__ini">Seleccionar Especialidad</p>
        <div class="form-searcher__cont-inp">
            <div class="form-searcher__cont-email">
                <select name="specialization" class="form-searcher__email-inp">
                    <option>Especialidad</option>
                    <option th:each="specialization : ${specializations}" th:value="${specialization}" th:text="${specialization.displayName}">
                </select>
            </div>
            <div class="form-searcher__cont-submit">
                <button type="submit" class="form-searcher__submit">Listar</button>
            </div>
        </div>
    </form>
    <div class="table-responsive cont-table">
        <table class="table table-bordered table-striped">
            <thead class="table__thead">
                <tr class="table__thead-row">
                    <th class="table__thead-col">Name</th>
                    <th class="table__thead-col">Charge</th>
                    <th class="table__thead-col">Entry Time</th>
                    <th class="table__thead-col">Exit Time</th>
                    <th class="table__thead-col">Especialidad</th>
                </tr>
            </thead>
            <tbody class="table__tbody">
                <tr th:each="professional : ${professionals}" class="table__tbody-row">
                    <td th:text="${professional.user.name + ' ' + professional.user.surname}" class="table__tbody-col"></td>
                    <td th:text="${professional.charge}" class="table__tbody-col"></td>
                    <td th:text="${professional.entryTime}" class="table__tbody-col"></td>
                    <td th:text="${professional.exitTime}" class="table__tbody-col"></td>
                    <td th:text="${professional.specialization.displayName}" class="table__tbody-col"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<th:block th:replace="/fragments/footer :: footer"></th:block>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" 
	integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" 
	crossorigin="anonymous"></script>
</body>
</html>
